* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: "Kommon Grotesk";
    src: url("fonts/KommonGrotesk/regular.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Kommon Grotesk Extended";
    src: url("fonts/KommonGroteskExtended/regular.otf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Kommon Grotesk Extended";
    src: url("fonts/KommonGroteskExtended/bold.otf") format("truetype");
    font-weight: bold;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    height: 100vh;
    background-color: #f5f5f5;
    position: relative;
}

.hero iframe {
    width: 100%;
    height: 100%;
}

.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%;
}

.icon-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
}

.icon-container.hide {
    opacity: 0;
}

.icon-scroll {
    position: absolute;
    left: 50%;
    width: 32px;
    height: 52px;
    margin-left: -20px;
    border-radius: 25px;
    margin-top: auto;
    bottom: 20px;
    border: 2px solid #ffffff;
}

.icon-scroll:before {
    content: "";
    width: 24px;
    height: 24px;
    background: #fff;
    margin-left: -12px;
    top: 3px;
    border-radius: 12px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0;
}

.about {
    background-color: #87e75c;
    padding: 230px 0;
}

.about-content {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
}

.about-image {
    width: 100%;
    max-width: 228px;
    margin-bottom: 2em;
}

.about-image img {
    width: auto;
    height: 397px;
}

.about-text {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
}

.about-text h2 {
    font-family: "Montserrat", sans-serif;

    font-weight: 700;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 1em;
}

.about-text p {
    font-family: "Montserrat";

    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin-bottom: 2em;
    text-align: justify;
}

@media (max-width: 767px) {
    .about {
        padding: 80px 0;
    }

    .about-image {
        margin: 0 auto 2em;
    }

    .about-image img {
        height: 100%;
    }

    .about-content {
        gap: 38px;
    }

    .about-text p {
        text-align: justify;
    }
}

@media (min-width: 768px) {

    .about,
    .contact {
        height: 100vh;
    }

    header h1 {
        font-size: 3em;
    }

    .about-content {
        flex-direction: row;
        max-width: 915px;
    }

    .about-image {
        margin-right: 120px;
        margin-bottom: 0;
    }

    .about-text {
        margin-left: 0;
        text-align: left;
    }
}

.contact {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    margin-bottom: 30px;
    font-family: "Kommon Grotesk Extended", sa;

    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    font-family: "Kommon Grotesk Extended";

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 12px;
    margin-top: 2px;
    margin-left: 20px;
}

.contact input,
.contact textarea {
    width: 553px;
    height: 54px;
    margin-bottom: 16px;
    padding: 17px 22px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    border: none;
    background: #f4f4f4;
    border-radius: 30px;
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-family: "Open Sans", sans-serif;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #9b9b9b;
}

.contact textarea {
    height: 150px;
    resize: none;
}

.contact button[type="submit"] {
    font-family: "Kommon Grotesk Extended";

    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background-color: #87e75c;
    color: #ffffff;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 30px;
    margin-top: 50px;
}

.contact button[type="submit"]:hover {
    background-color: #6bb548;
    color: #fff;
}

@media screen and (max-width: 767px) {

    .contact input,
    .contact textarea {
        max-width: 85vw;
    }

    .contact button[type="submit"] {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 575px) {

    .contact input,
    .contact textarea {
        width: 85vw;
    }

    .contact button[type="submit"] {
        padding: 10px 20px;
        font-size: 12px;
    }
}

footer {
    background-color: #fff;
    color: #000;
    padding: 85px 0;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .social {
    display: flex;
    align-items: baseline;
}

footer .container {
    max-width: 1174px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 7rem;
}

.copy {
    display: flex;
    align-items: baseline;
    gap: 9px;
}

.copy img {
    width: 265px;
    height: auto;
}

.copy p {
    font-family: "Kommon Grotesk";

    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    margin-left: 18px;
}

.social p {
    font-family: "Kommon Grotesk";

    font-weight: 500;
    font-size: 17px;
    line-height: 29px;
    margin-right: 18px;
}

.social-links {
    display: flex;
    max-width: 670px;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.social-links a img {
    max-width: 46px;
    height: 46px;
}

@media (max-width: 1000px) {
    footer {
        margin: 60px 0;
        display: flex;
    }

    footer .container {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    footer .social {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    footer .social p {
        margin-bottom: 12px;
    }

    .copy img {
        width: 265px;
        height: auto;
    }

    .copy,
    .social {
        width: 100%;
        margin-bottom: 16px;
        display: flex;
        flex-direction: column;
    }

    .social {
        margin-bottom: 0;
    }

    .social-links {
        justify-content: center;
    }
}

@media (min-width: 767px) {
    .container {
        flex-direction: row-reverse;
    }
}